#contact-form {
  display: flex;
  padding: 200px;
  margin-top: 100px;
}

.contact-row {
  display: flex;
}

.contact-icon {
  margin-top: 20px;
}

.label {
  display: none;
  color: white;
}

.button {
  border-radius: 10px;
  border: 1px solid rgba(139, 77, 77, 0.18);
  padding: 10px;
  font-family: sans-serif;
  width: 50%;
}
.form-input {
  margin-bottom: 10px;
  background: black;
  width: 100%;
  padding: 10px;
  outline: none;
  color: white;
  border: none;
}
.heading {
  text-transform: uppercase;
  color: purple;
}

.side-bar {
  display: flex;
  flex-direction: column-reverse;
}

.contact-icon {
  font-size: 25px;
}

.submit {
  font-size: 14px;
  line-height: 1.1;
  color: black;
}

.hover-button {
  position: relative;
  width: 180px;
  min-height: 50px;
  background-color: black;
  text-transform: uppercase;
  text-align: center;
  color: white;
  letter-spacing: 3px;
  -webkit-appearance: button;
  cursor: pointer;
}

.frame-1 {
  display: flex;
}
