#education{
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;


}

.edu{
  line-height: 2px;
}

.cv{
  height: 80vh;
  padding: 80px;

}

.block{
  background-color: purple;
  height: 20vh;
  
}


  .sub{
    color: white;
    margin-bottom: 5px;
  }

  .year1{
    text-align: center;
  }
  .ordered{
    margin-top: 20px;
    text-align: center;
  }
  .tittle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }
  .year2{
    margin-top: 20px;
    text-align: center;
  }

  .college{
    margin-bottom: 10px;
    text-align: center;
  }

  .tech{
    margin-top: 20px;
  }

  .col{
    text-align: center;
  }

  .cards1{
    padding:20px;
    
  }
  ul{
    list-style: none;
  }

.discription{
  text-align: center;
}
  
.school{
  display: flex;
  flex-direction: column;
  text-align: center;
}

