
.container {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 50%;
  border-radius: 9%;
  margin-top: 150px;
  
}
.name {
  color: white;
}

q{
  color: white;
  text-align: center;
}


